// /* HeroSection */

.hero-section {
  color: #fff;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding: 8rem 0;

  @media (max-width: 992px) {
    padding: 5rem 0;
  }

  .hero-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    width: 100%;
    gap: 4rem;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;

    @media (max-width: 992px) {
      grid-template-columns: 1fr;
      text-align: center;
      gap: 3rem;
    }
  }

  .hero-left {
    z-index: 2;

    h1 {
      font-size: 3.5rem;
      font-weight: 700;
      line-height: 1.2;
      margin-bottom: 1.5rem;
      color: #b3b3b3;

      span {
        color: #fff;
      }

      @media (max-width: 992px) {
        font-size: 2.5rem;
      }

      @media (max-width: 576px) {
        font-size: 2rem;
      }
    }

    p {
      font-size: 1.1rem;
      color: #ccc;
      line-height: 1.6;
      max-width: 500px;
      margin-bottom: 2.5rem;

      @media (max-width: 992px) {
        margin: 0 auto 2rem;
        font-size: 1rem;
        max-width: 90%;
      }
    }

    .hero-buttons {
      display: flex;
      gap: 1rem;

      @media (max-width: 992px) {
        align-items: center;
        justify-content: center;
      }
      @media (max-width: 576px) {
        // flex-direction: column;
        align-items: center;
        justify-content: center;
      }

      .btn {
        padding: 0.9rem 2rem;
        font-size: 1rem;
        border-radius: 6px;
        font-weight: 500;
        cursor: pointer;
        transition: all 0.3s ease;

        &.btn-primary {
          background-color: #fff;
          color: #000;
          border: none;

          &:hover {
            background-color: #bfbfbf;
            color: #111;
          }
        }

        &.btn-outline {
          background: transparent;
          border: 1px solid #fff;
          color: #fff;

          &:hover {
            background-color: #fff;
            color: #111;
          }
        }
      }
    }
  }

  .hero-right {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background: transparent;

    @media (max-width: 992px) {
      order: -1; // küçük ekranda kartlar üstte gözüksün istersen kaldır
    }

    @media (max-width: 576px) {
      transform: scale(0.8);
    }
  }
}

